@charset "UTF-8";

*, body, html {
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

a:hover {
    color: #485fc7 !important;
}

.site-title {
    font-size: 25px;
    font-weight: 600;
}

.site-title a {
    color: #000 !important;
    text-shadow: #b8b8b8 0.1em 0.1em 0.2em;
}

.site-navbar-item {
    font-size: 14px;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: #ffffff !important;
}

.site-navbar-item:hover {
    background-color: #ffffff !important;
}

.site-navbar-item .is-active {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.navbar-item .action {
    color: #4a4a4a;
}

.site-header {
    border-bottom: 1px rgb(167 182 194 / 50%) dashed;
    overflow: hidden;
}

.new-posts {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.site-content-item-title, .site-content-item-meta {
    margin-bottom: 10px;
}

.site-content-item-title h2 {
    font-size: 20px;
    font-weight: 600;
}

.site-content-item-title a {
    color: #000;
}

.site-content-item-meta {
    font-size: 15px;
    color: #4a4a4ab5;
}

.site-content-item-meta a, site-content-item-remark p {
    color: #4a4a4ab5;
}

.navbar-item, .navbar-link {
    color: #000;
}

.sidebar-title {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-bottom: 17px;
}

.author-image {
    display: block;
    float: left;
}

.author-image img {
    box-shadow: 1px 1px 7px #777;
    transition: transform 400ms ease-out;
}

.author-image img:hover {
    cursor: pointer;
    transform: rotateZ(
            -45deg
    );
}

.author-info {
    height: 64px;
    display: table;
}

.author-meta {
    display: table-cell;
    vertical-align: middle;
    padding-left: 9px;
    font-size: 14px;
}

.sidebar a {
    font-size: 15 pxc;
    color: #4a4a4a;
}

.sidebar a:hover {
    color: #485fc7;
}

.sidebar-comments li:first-child {
    padding: 0px 0px 10px 0px;
}

.sidebar-comments li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px rgb(167 182 194 / 50%) dashed;
    padding: 10px 0px;
}

.author-meta .remark {
    margin-top: 10px;
}

.author-meta .name {
    color: #182026;
    font-weight: 600;
    padding-right: 10px;
    font-size: 16px;
    text-shadow: #b8b8b8 0.1em 0.1em 0.2em;
}

.sidebar-item {
    padding-bottom: 30px;
    margin-bottom: 65px !important;
}

footer {
    border-top: 1px rgb(167 182 194 / 50%) dashed;
}

.site-footer {
    font-size: 14px;
    color: #4a4a4ab5;
    padding: 15px 0;
    overflow: hidden;
}

.site-footer-info {
    display: block;
    float: left;
}

.site-footer-powered {
    display: block;
    float: right;
}

.site-pagination {
    padding-top: 20px;
}

.site-pagination a {
    color: #4a4a4a;
    padding-top: 20px;
}

.nav-links {
    position: relative;
    display: flex;
    width: 100%
}

.nav-links > span, .nav-links > a {
    position: relative;
    display: inline-block;
    background-color: #f4f5f9;
    padding: .5rem .875rem;
    margin: 0 .5rem 0 0;
    font-size: 0.75rem;
    border-radius: 0.2rem;
}

.nav-links .prev, .nav-links .next {
    position: absolute;
    padding: .5rem .65rem;
    margin: 0px 25px;
}

.nav-links .prev {
    right: 45px
}

.nav-links .next {
    margin: 0;
    right: 0
}

.site-content {
    margin-top: .5rem;;
    padding: .5rem .75rem;
}

.site-footer {
    padding: 1rem 0;
}

.site-content .item {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sidebar figure {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.site-post-meta {
    margin-bottom: 15px;
}

.site-post-content {
    padding-bottom: 17px;
    color: rgba(0, 0, 0, 0.84);
}

.site-post-pagination {
    padding: 10px 0px;
    border-bottom: 1px rgb(167 182 194 / 50%) dashed;
    border-top: 1px rgb(167 182 194 / 50%) dashed;
}

.box {
    transition: box-shadow 400ms ease-out;
}

.box:hover {
    box-shadow: none;
}

.box:hover .author-image img {
    transform: rotateZ(
            -45deg
    );
}

.site-post-content img {
    display: block;
    margin: 0 auto;
}

.search-wrap {
    display: flex;
}

.search-input:focus {
    opacity: 1 !important;
    top: 0px;
    width: 120px;
}

.search-input {
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none;
    transition: .5s;
    width: 0px;
}

.comments-form {
    border: 1px rgb(167 182 194 / 50%) dashed;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 0px 10px;
}

#comments {
    margin-top: 25px;
}

#comments p {
    font-size: 14px;
}

#comments input {
    padding: 1.3em 1em .9em 1em;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
}

#comments textarea {
    font-size: 14px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 10px 5px;
    max-width: 100%;
    border-radius: 0px !important;
    box-shadow: none;
    border-top: 1px rgb(167 182 194 / 50%) dashed;
    resize: none;
}

#comments ol {
    margin: 0;
}

#comments ol li {
    list-style: none;
}

.comment-author img {
    width: 3.125em;
    height: 3.125em;
    float: left;
    border-radius: 50%;
    margin-right: .7525em;
    border: 1px solid #f5f5f5;
    padding: .125em;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content p {
    line-height: 1.875;
}

.content iframe {
    width: 100%;
    height: 500px;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
    padding-top: 10px;
}

#comments figure {
    margin-left: 0 !important;
    margin-right: 1rem !important;
}

#comments h6 {
    margin-top: 25px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 4.7rem;
    }

    .site-content {
        margin-top: 30px;
    }

    .site-content .item {
        padding-bottom: 45px;
        margin-bottom: 45px;
    }

    .site-content .item:last-child {
        padding-bottom: 0px;
    }

    .site-navbar-item:first-child::before {
        content: '=';
        padding-right: 20px;
        color: #CCCCCC;
    }

    .site-navbar-item:last-child::after {
        content: '';
    }

    .site-navbar-item::after {
        content: '+';
        margin-left: 20px;
        color: #CCCCCC;
    }

    .site-navbar-item:hover::before {
        color: #4a4a4a;
        color: #CCCCCC;
    }

    .site-navbar-item:hover::after {
        color: #4a4a4a;
        color: #CCCCCC;
    }

    .site-pagination {
        padding-top: 0px;
        margin-bottom: 50px;
    }
}

.fade-in-bottom-item:nth-child(1) {
    animation: fade-in-bottom .6s .2s forwards;
    -webkit-animation: fade-in-bottom .6s .2s backwards;
}

.fade-in-bottom-item:nth-child(2) {
    animation: fade-in-bottom .6s .4s forwards;
    -webkit-animation: fade-in-bottom .6s .4s backwards;
}

.fade-in-bottom-item:nth-child(3) {
    animation: fade-in-bottom .6s .6s forwards;
    -webkit-animation: fade-in-bottom .6s .6s backwards;
}

.fade-in-bottom-item:nth-child(4) {
    animation: fade-in-bottom .6s .8s forwards;
    -webkit-animation: fade-in-bottom .6s .8s backwards;
}

.fade-in-bottom-item:nth-child(5) {
    animation: fade-in-bottom .6s .10s forwards;
    -webkit-animation: fade-in-bottom .6s .10s backwards;
}

.fade-in-bottom-item:nth-child(6) {
    animation: fade-in-bottom .6s .12s forwards;
    -webkit-animation: fade-in-bottom .6s .12s backwards;
}


.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
